<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
.web_item {
	margin: 10px 0 10px 0;
}
.info-info {
	border: thin solid #336699;
	border-radius: 5px 5px 5px 5px;
}
.row {
	padding: 5px 5px 5px 5px
}
.button_wrap {
	padding: 5px 5px 5px 5px;
}
.itemName {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}
* {
	margin: 0;
	padding: 0;
}
#div1 {
	width: 90%;
	height: 200px;
	margin: 10px auto;
	position: relative;
	background: white;
	overflow: hidden;
}
#div1 ul {
	position: absolute;
	left: 0;
	top: 0;
}
#div1 ul li {
	margin-right: 10px;
	float: left;
	
	height: 200px;
	list-style: none;
}
	#div1 ul li img{
	margin-right: 10px;

}
</style>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 --> 

<script src="{{ url_for('static', filename="inc/jquery.min.js") }}"></script> 
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static', filename="inc/bootstrap.min.css") }}" >

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="{{ url_for('static', filename="inc/bootstrap-theme.min.css") }}">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 --> 
<script src="{{ url_for('static', filename="inc/bootstrap.min.js") }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename="inc/lightbox.css") }}">
<script src="{{ url_for('static', filename="inc/lightbox.js") }}"></script>
<title>上外附中 人工智能学习资源平台 - ISEF INDEX</title>
</head>
<script language="javascript">
	$(document).ready(function(){

		content="{{contents.itemInfo}}"
		content=content.replace(/\n/g,'<br>')
  		$(".itemInfo").html(content);
		
		
		//开始轮播代码
		
		var speed=2;

var a=document.getElementById('div1');

var b=a.getElementsByTagName('ul')[0];

var c=b.getElementsByTagName('li');

b.innerHTML=b.innerHTML+b.innerHTML;

b.style.width=c[0].offsetWidth*c.length+'px';

function move(){

if (b.offsetLeft<-b.offsetWidth/2) {

b.style.left='0';

}

if (b.offsetLeft>0) {

b.style.left=-b.offsetWidth/2+'px';

}

b.style.left=b.offsetLeft+speed+'px';

}

var timer=setInterval(move,30);

b.onmouseover=function(){

clearInterval(timer);

};

b.onmouseout=function(){

timer=setInterval(move,30);

}; 

document.getElementsByTagName('a')[0].onclick=function(){

speed=-2;

}

document.getElementsByTagName('a')[1].onclick=function(){

speed=2;

}

});

</script>
<body>
{% include "inc/head.html" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">International Science and Engineering Fair</div>
        <div class="panel-body"> The Regeneron International Science and Engineering Fair (ISEF) is an annual science fair in the United States. It is owned and administered by the Society for Science, a non-profit organization based in Washington, D.C. Each May, more than 1500 students from roughly 70 countries and territories compete in the fair for scholarships, tuition grants, internships, scientific field trips and the grand prizes, including one $75,000 and two $50,000 college scholarships. All prizes
          <h3 class="text-center"> <img WIDTH="100%" src="{{ url_for('static', filename="image/ISEF_LOGO.png") }}"></h3>
<!--          <h3 class="text-center"> <img WIDTH="80%" src="{{ url_for('static', filename="image/INTELAI4Y.png") }}"></h3>-->
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="panel panel-default">
        <div class="panel-heading">ISEF - {{contents.itemClass}} - {{contents.itemID}} - {{contents.itemName}}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 web_item">
              <p> <img src="{{ url_for('static', filename="ISEF"+"//"+contents.itemClass+"//"+contents.itemFolder+"//"+contents.itemIcon )}}" alt="{{contents.itemName}}" class="img-thumbnail" width="100%"> </p>
              <p> </p>
            </div>
            <div class="col-xs-6 web_item"> {%if contents.itemVideo!=""%}
              <video width="100%" src="{{ url_for('static', filename="ISEF"+"//"+contents.itemClass+"//"+contents.itemFolder+"//"+contents.itemVideo )}}" controls="controls"> </video>
              {%endif%} </div>
          </div>
			{%if contents.itemImage%}
          <div class="row">
            <div class="col-xs-12"> 
				
<!--				<a href="javascrip:;">向左</a> <a href="javascrip:;">向右</a>-->
              <div id="div1">
                <ul>
					{%for image in contents.itemImage%}
                  <li><a href="{{ url_for('static', filename="ISEF"+"//"+contents.itemClass+"//"+contents.itemFolder+"//"+image )}}" data-lightbox="page" data-title="page"><img src="{{ url_for('static', filename="ISEF"+"//"+contents.itemClass+"//"+contents.itemFolder+"//"+image )}}" height="100%" /></a></li>
                
					{%endfor%}
                </ul>
              </div>
            </div>
          </div>
			{%endif%}
          <div class="row">
            <div class="itemInfo" id="itemInfo"></div>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <div class="row info-info">
        <div class="col-xs-12 text-center"><a href="{{ url_for('static', filename="image/paintsmall2.xlsx")}}" download="paintsmall2.xlsx"><img width="100%" src="{{ url_for('static', filename="image/paintsmall2.jpg") }}"></div>
      </div>
    </div>
    <div class="col-xs-3"> </div>
  </div>
-->
</div>
</body>
</html>
