<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
.web_item {
	margin: 10px 0 10px 0;
}
.info-info {
	border: thin solid #336699;
	border-radius: 5px 5px 5px 5px;
}
.row {
	padding: 5px 5px 5px 5px
}
.button_wrap {
	padding: 5px 5px 5px 5px;
}
</style>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 --> 

<script src="{{ url_for('static', filename="inc/jquery.min.js") }}"></script> 
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static', filename="inc/bootstrap.min.css") }}" >

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="{{ url_for('static', filename="inc/bootstrap-theme.min.css") }}">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 --> 
<script src="{{ url_for('static', filename="inc/bootstrap.min.js") }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename="inc/lightbox.css") }}">
<script src="{{ url_for('static', filename="inc/lightbox.js") }}"></script> 
<script src="script/RelativeStuCommon.js"></script>
<title>上外附中 人工智能学习资源平台</title>
</head>

<body>
{% include "inc/head.html" %}
<div class="row">
	
	<div class="col-xs-12 text-center">
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default{%if contents.class_=='All'%} active{%endif%}" onClick="javascript:window.location.href='?class=All'">ALL</button>
  <button type="button" class="btn btn-default{%if contents.class_=='G6C2'%} active{%endif%}" onClick="javascript:window.location.href='?class=G6C2'">中预2班</button>
  <button type="button" class="btn btn-default{%if contents.class_=='G6C3'%} active{%endif%}" onClick="javascript:window.location.href='?class=G6C3'">中预3班</button>
  <button type="button" class="btn btn-default{%if contents.class_=='G6C7'%} active{%endif%}" onClick="javascript:window.location.href='?class=G6C7'">中预MYP</button>
</div></div>
	</div>
<div class="row" >
  <div class=" col-xs-2"></div>
  <div class=" col-xs-8">
    <div class="row">
      <div class="col-xs-2 text-center">ID</div>
      <div class="col-xs-2 text-center">班级</div>
      <div class="col-xs-2 text-center">组员</div>
      <div class="col-xs-2 text-center">递交时间</div>
      <div class="col-xs-1 text-center">查看</div>
		<div class="col-xs-3 text-center">得分</div>

    </div>
    {%for item in contents.success:%}
    <div class="row">
      <div class="col-xs-2 text-center">{{item.id_}}</div>
      <div class="col-xs-2 text-center">{{item.class_}}</div>
      <div class="col-xs-2 text-center">{{item.stus_}}</div>
      <div class="col-xs-2 text-center">{{item.date_}} {{item.time_}}</div>
      <div class="col-xs-1 text-center">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-url="{{item.Urls_}}">查看</button>
      </div>
		<div class="col-xs-3 text-center">
			<span class="label label-success">A:{{item.A}}</SPAN>
			<span class="label label-primary">B:{{item.B}}</SPAN>
			<span class="label label-info">C:{{item.C}}</SPAN>
			<span class="label label-warning">D:{{item.D}}</SPAN>
			<span class="label label-danger">E:{{item.E}}</SPAN>
			<span class="label label-default"> {{item.voteScore}} </SPAN>
			
      </div>

    </div>
    {%endfor%} 
	  
	<p class="bg-danger text-center"><br>以下为未通过的作品<br>原因可能为：</p>
	  <p class="text-danger text-center"><br>
			1.缺少元素（中文注释等）<br>
			2.注释过于啰嗦，导致链接无法打开<br>
		  3.重复递交<br>

			以上小组请重新递交</p>
	{%for item in contents.failed:%}
    <div class="row">
      <div class="col-xs-2 text-center">{{item.id_}}</div>
      <div class="col-xs-2 text-center">{{item.class_}}</div>
      <div class="col-xs-2 text-center">{{item.stus_}}</div>
      <div class="col-xs-2 text-center">{{item.date_}} {{item.time_}}</div>
      <div class="col-xs-2 text-center">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" disabled="disabled">查看</button>
      </div>

    </div>
    {%endfor%} 
	  
	  <p class="bg-info text-center"><br>以下为未批阅作品，请等待审核：</p>
	  
	{%for item in contents.unknown:%}
    <div class="row">
      <div class="col-xs-2 text-center">{{item.id_}}</div>
      <div class="col-xs-2 text-center">{{item.class_}}</div>
      <div class="col-xs-2 text-center">{{item.stus_}}</div>
      <div class="col-xs-2 text-center">{{item.date_}} {{item.time_}}</div>
      <div class="col-xs-2 text-center">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" disabled="disabled">查看</button>
      </div>

    </div>
    {%endfor%} 
	
	</div>
  <div class=" col-xs-2"></div>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <iframe class="frame"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" class="btn btn-primary btn-md frameLink" role="button" target="_blank">新页面打开</a></div>
    </div>
  </div>
</div>
