<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
.info-info {
	border: thin solid #336699;
	border-radius: 5px 5px 5px 5px;
}
.row{
    padding: 5px 5px 5px 5px


}
.button_wrap{
    padding: 5px 5px 5px 5px;
}
.innerLayer:{
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border:solid 1px blue;
}
</style>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

<script src="{{ url_for('static', filename="inc/jquery.min.js") }}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static', filename="inc/bootstrap.min.css") }}" >

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="{{ url_for('static', filename="inc/bootstrap-theme.min.css") }}">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{{ url_for('static', filename="inc/bootstrap.min.js") }}"></script>

<title>上外附中 人工智能学习资源平台</title>
</head>

<body>
{% include "inc/head.html" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
         <div class="panel panel-default">
          <div class="panel-heading">什么是像素？</div>
          <div class="panel-body">

              像素是指由图像的小方格组成的，这些小方块都有一个明确的位置和被分配的色彩数值，小方格颜色和位置就决定该图像所呈现出来的样子。
可以将像素视为整个图像中不可分割的单位或者是元素。不可分割的意思是它不能够再切割成更小单位抑或是元素，它是以一个单一颜色的小格存在。每一个点阵图像包含了一定量的像素，这些像素决定图像在屏幕上所呈现的大小。

              <h3>像素风格画</h3>

        <img WIDTH="50%" src="{{ url_for('static', filename="image/pixel.png") }}">
          </div>
        </div>




    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">文件上传</div>
          <div class="panel-body">
            <div class="row">
                <h1>上传图片</h1>
                <form action="" enctype='multipart/form-data' method='POST'>
                    <div class="form-group">
                        <label for="exampleInputFile">选择文件</label>
                        <input type="file" name="file" id="exampleInputFile">
                        <p class="help-block">只限上传jpg文档，文件请用 英文命名，文件不超过1M.</p>
                    </div>
                    <input class="btn btn-default" type="submit" value="上传">
                </form>
            </div>
          </div>
        </div>
        <div class="innerLayer">
            <div class="panel panel-default">
              <div class="panel-heading">下载默认文档</div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <img src="{{ url_for('static', filename="image/homeworkS.JPG" )}}" alt="..." class="img-thumbnail">
                        <div class="button_wrap">
                            <a class="btn btn-default" href="{{ url_for('static', filename="image/homeworkS_b.xlsx") }}" download="homeworkS_b.xlsx" role="button"> <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> 下载：灰度文件 </a>
                        </div>
                        <div class="button_wrap">
                            <a class="btn btn-default" href="{{ url_for('static', filename="image/homeworkS_c.xlsx") }}" download="homeworkS_c.xlsx" role="button"> <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> 下载：彩色文件 </a>
                        </div>
                    </div>
                    <div class="col-xs-4 text-center">
                        <img src="{{ url_for('static', filename="image/homeworkF.JPG" )}}" alt="..." class="img-thumbnail">
                        <div class="button_wrap">
                            <a class="btn btn-default" href="{{ url_for('static', filename="image/homeworkF_b.xlsx") }}" download="homeworkF_b.xlsx" role="button"> <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> 下载：灰度文件 </a>
                        </div>
                        <div class="button_wrap">
                            <a class="btn btn-default" href="{{ url_for('static', filename="image/homeworkF_c.xlsx") }}" download="homeworkF_c.xlsx" role="button"> <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> 下载：彩色文件 </a>
                        </div>


                    </div>
                    <div class="col-xs-4 text-center">
                        <img src="{{ url_for('static', filename="image/homeworkL.JPG" )}}" alt="..." class="img-thumbnail">
                        <div class="button_wrap">
                            <a class="btn btn-default" href="{{ url_for('static', filename="image/homeworkL_b.xlsx") }}" download="homeworkL_b.xlsx" role="button"> <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> 下载：灰度文件 </a>
                        </div>
                        <div class="button_wrap">
                            <a class="btn btn-default" href="{{ url_for('static', filename="image/homeworkL_c.xlsx") }}" download="homeworkL_c.xlsx" role="button"> <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> 下载：彩色文件 </a>
                        </div>

                    </div>

                </div>
              </div>
            </div>
        </div>


    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">下载上传的文档</div>
            <div class="panel-body">
                {% if session['CONVfilename'] %}
                    <div>
                        <img class="img-thumbnail" src="{{ url_for('static', filename=session['CONVfilename'])+"."+session["CONVextName"] }}">
                    </div>
                    <br>

                    <div >
                        <a class="btn btn-default" href="{{ url_for('static', filename=session['CONVfilename'])+"_b.xlsx" }}" download="{{session['CONVfilename']}}_b.xlsx" role="button"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 下载：黑白Excel </a></div><br>
                    <div >
                        <a class="btn btn-default" href="{{ url_for('static', filename=session['CONVfilename'])+"_c.xlsx" }}" download="{{session['CONVfilename']}}_c.xlsx" role="button"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 下载：彩色Excel </a></div><br>

                     {% endif %}
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <div class="row info-info">
        
        <div class="col-xs-12 text-center"><a href="{{ url_for('static', filename="image/paintsmall2.xlsx")}}" download="paintsmall2.xlsx"><img width="100%" src="{{ url_for('static', filename="image/paintsmall2.jpg") }}"></div>
        
      </div>
    </div>
    <div class="col-xs-3"> </div>
  </div>
</div>
</body>
</html>
